* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .img {
    background-image: url(Images/img.11.jpg);
    background-repeat: no-repeat;
    min-height: 800px;
    padding: 25px;
    background-position: center;
    background-size: cover;
  }
  .form {
    margin: 14px auto;
    right: 0;
    max-width: 380px;
    min-height: 30%;
    padding: 25px;
    background-color: #ebad89;
    opacity: 0.8;
    border-radius: 15px;
  }
  h1 {
    color: #0f0b0b;
    text-align: center;
  }
  label {
    margin-left: 8px;
    font-size: 26px;
    color: rgb(51, 147, 243);
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 20px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
  }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    outline-color: grey;
  }
  
  .alr {
    text-align: center;
    margin-top: 15px;
    color: #0a0707;
  }
  .alr a {
    color: rgb(42, 128, 214);
    text-decoration: none;
  }
  .btn {
    width: 100px;
    margin-top: 15px;
    margin-left: 35%;
    border: none;
    background-color: #c9aaaa;
    border-radius: 15px;
    font-size: 20px;
    color: rgb(184, 28, 223);
    cursor: pointer;
  }
  .btn:hover {
    background-color: rgb(62, 125, 241);
    color: #e7ddeb;
  }